*,
*::after,
*::before {
  box-sizing: inherit; }

::selection {
  background: yellow;
  color: #191F33; }

html {
  box-sizing: border-box;
  font-family: "Founders Grotesk Text", Arial, sans-serif;
  line-height: 1.34; }

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #191F33;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Founders Grotesk", Arial, sans-serif;
  font-weight: bold; }

h1, h2, h3, h4, h5, h6,
p, ul {
  margin-top: 0; }

a {
  color: currentColor; }
  a:active, a:focus, a:hover {
    text-decoration: none; }
